@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.game-field {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  margin: 50px auto;
}

.game {
  text-align: center;
}

.game-cell {
  width: 33.333333333%;
  max-width: 33.333333333%;
  height: 40px;
  border: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-cell--win {
  background-color: orange;
}

.game-cell--o {
  color: green;
}

.game-cell--x {
  color: red;
}